*{ margin:0; padding:0; } 
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px Arial,"微软雅黑", arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; }
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }

a{ color: #777; }
a:hover{ text-decoration: none; color: #777;cursor: pointer; }

.btns{
    border: none; outline: none;
    border-radius: 22px;
    color: #fff;
    background: #db6f6a;
    border: 1px solid #db6f6a;
    outline: none;
}
.btns:hover{
    color: #fff;
    background-color: #f06f69;
    border: 1px solid #db6f6a;
    outline: none;
}
