// iview组件 样式复写
.ivu-switch-checked{
    border-color: @primary-color;
    background-color: @primary-color;
}
.ivu-input:hover, .ivu-input:focus, .ivu-btn:hover, .ivu-btn:active{
    border-color: @primary-color;
    color: @primary-color;
}