// iview组件 样式复写

//表单元素
.ivu-switch-checked{
    border-color: @primary-color;
    background-color: @primary-color;
}
.ivu-input:hover, .ivu-input:focus, .ivu-btn:hover, .ivu-btn:active{
    border-color: @primary-color;
    color: @primary-color;
}
//标签加宽
.ivu-tag-size-large{
    padding: 0 25px;
}
