@primary-color: #D1A827; //主色
@primary-color-hover:#c79e25;//主色调的hover
@primary-white:#fff;//重定义白色
@default-font-color:#EBECED;//默认字体色
@default-background:#3E3E3B;//默认背景色

//菜单
// @menu-background-color:#294045;//除了菜单部分的背景颜色，logo后面的背景颜色
// @menu-item-color:#22353A;//未选中菜单颜色
// @menu-text-color:rgba(255,255,255,.6);//未选中菜单字体颜色
// @menu-text-active-color:@primary-white;//选中菜单的颜色

//表格
// @table-header-bg:#EAF8F5;
// @table-hover-color:#EAF8F5;
